<header class="header">
  <div style="width: 720px; display: flex; justify-content: space-between; align-items: center;">
    <div class="header-left">
      <a href="/" class="brand">Glimpse</a>
    </div>
    <div class="header-right">
      <a href="/login" class="auth-btn login-btn hidden">Login</a>
      <button class="logout-btn hidden">Log out</button>
      <a href="/create" class="create-event-btn hidden">Create Event</a>
      <a href="/me" class="my-page-btn hidden">
        <img src="https://cdn.glimpse.rsvp/users/avatars/3e150170-5a0c-4f78-9776-074db7e11df0.png" alt="">
      </a>
    </div>
  </div>
</header>